SECRET_KEY=my_secret_key_from_settings

# настройка своей базы данных
NAME=my_database
USER=my_database_user
PASSWORD=my_password
HOST=localhost
PORT=5432

# настройки почты
EMAIL_HOST=my_email_host
EMAIL_PORT=my_email_port
EMAIL_HOST_USER=my_email_host_user
EMAIL_HOST_PASSWORD=my_email_host_password
EMAIL_USE_TLS=my_email_use_tls
EMAIL_USE_SSL=my_email_use_ssl