{% extends 'base.html' %}

{% block content %}
<h1>Статистика рассылок</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Всего рассылок</h5>
                <h2>{{ total_mailings }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Активных рассылок</h5>
                <h2>{{ active_mailings }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">Уникальных получателей</h5>
                <h2>{{ unique_recipients }}</h2>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="mt-4">
    <a href="{% url 'mailing:mailing_create' %}" class="btn btn-primary">Создать рассылку</a>
</div>
{% endif %}
{% endblock %}